<section id='divGeneral' class='centrado'>
    <h1>Ficha Taller</h1>
    <form id='formFichaTaller' class='form'>
        <article class='form-group'>

            <label class='label label-default' for='idTaller'>idTaller:</label>
            <input id='idTaller' type='text' class='form-control' placeholder='idTaller' value= {{IdTaller}} >

            <label class='label label-default' for='nombre'>Nombre:</label>
            <input id='nombre' type='text' class='form-control' placeholder='Nombre' value= {{Nombre}} >

            <label class='label label-default' for='direccion'>Direccion:</label>
            <input id='direccion' type='text' class='form-control' placeholder='Direccion' value= {{Direccion}} >

            <label class='label label-default' for='poblacion'>Población:</label>
            <input id='poblacion' type='tel' class='form-control' placeholder='poblacion' value= {{ poblacion }}>

            <label class='label label-default' for='codigoPostal'>Codigo Postal:</label>
            <input id='codigoPostal' type='text' class='form-control' placeholder='codigoPostal' value= {{ codigoPostal }}  >

            <label class='label label-default' for='Pais'>Pais:</label>
            <input id='Pais' type='text' class='form-control' placeholder='Pais' value= {{ Pais }}>

            <label class='label label-default' for='GerenciaTelefono'>GerenciaTelefono:</label>
            <input id='GerenciaTelefono' type='tel' class='form-control' placeholder='GerenciaTelefono' value= {{ GerenciaTelefono }}>

            <label class='label label-default' for='GerenciaContacto'>GerenciaContacto:</label>
            <input id='GerenciaContacto' type='text' class='form-control' placeholder='GerenciaContacto' value= {{ GerenciaContacto }}  >

            <label class='label label-default' for='AdminTelefono'>AdminTelefono:</label>
            <input id='AdminTelefono' type='text' class='form-control' placeholder='AdminTelefono' value= {{ AdminTelefono }}>

            <label class='label label-default' for='AdminContacto'>AdminContacto:</label>
            <input id='AdminContacto' type='tel' class='form-control' placeholder='AdminContacto' value= {{ AdminContacto }}>

            <label class='label label-default' for='TallerTelefono'>TallerTelefono:</label>
            <input id='TallerTelefono' type='tel' class='form-control' placeholder='TallerTelefono' value= {{ TallerTelefono }}>

            <label class='label label-default' for='TallerContacto'>TallerContacto:</label>
            <input id='TallerContacto' type='text' class='form-control' placeholder='TallerContacto' value= {{ SiniestrosContacto }}  >

            <label class='label label-default' for='HorarioLunesViernes'>HorarioLunesViernes:</label>
            <input id='HorarioLunesViernes' type='text' class='form-control' placeholder='HorarioLunesViernes' value= {{ HorarioLunesViernes }}>

            <label class='label label-default' for='HorarioSabados'>HorarioSabados:</label>
            <input id='HorarioSabados' type='text' class='form-control' placeholder='HorarioSabados' value= {{ HorarioSabados }}>

            <label class='label label-default' for='FormaPago'>FormaPago:</label>
            <input id='FormaPago' type='tel' class='form-control' placeholder='FormaPago' value= {{ FormaPago }}>

            <label class='label label-default' for='RappelDescuento'>RappelDescuento:</label>
            <input id='RappelDescuento' type='tel' class='form-control' placeholder='RappelDescuento' value= {{ RappelDescuento }}>

            <label class='label label-default' for='TarifasCamionesAceite'>TarifasCamionesAceite:</label>
            <input id='TarifasCamionesAceite' type='tel' class='form-control' placeholder='TarifasCamionesAceite' value= {{ TarifasCamionesAceite }}>

            <label class='label label-default' for='TarifasCamionesFiltros'>TarifasCamionesFiltros:</label>
            <input id='TarifasCamionesFiltros' type='tel' class='form-control' placeholder='TarifasCamionesFiltros' value= {{ TarifasCamionesFiltros }}>

            <label class='label label-default' for='TarifasCamionesLavado'>TarifasCamionesLavado:</label>
            <input id='TarifasCamionesLavado' type='tel' class='form-control' placeholder='TarifasCamionesLavado' value= {{ TarifasCamionesLavado }}>

            <label class='label label-default' for='TarifasRemolquesPastillas'>TarifasRemolquesPastillas:</label>
            <input id='TarifasRemolquesPastillas' type='tel' class='form-control' placeholder='TarifasRemolquesPastillas' value= {{ TarifasRemolquesPastillas }}>

            <label class='label label-default' for='TarifasRemolquesDiscos'>TarifasRemolquesDiscos:</label>
            <input id='TarifasRemolquesDiscos' type='tel' class='form-control' placeholder='TarifasRemolquesDiscos' value= {{ TarifasRemolquesDiscos }}>

            <label class='label label-default' for='TarifasRemolquesPinzas'>TarifasRemolquesSeguroObligatorio:</label>
            <input id='TarifasRemolquesPinzas' type='tel' class='form-control' placeholder='TarifasRemolquesPinzas' value= {{ TarifasRemolquesPinzas }}>

            <label class='label label-default' for='TarifasRemolquesActuador'>TarifasRemolquesActuador:</label>
            <input id='TarifasRemolquesActuador' type='tel' class='form-control' placeholder='TarifasRemolquesActuador' value= {{ TarifasRemolquesActuador }}>

            <label class='label label-default' for='TarifasRemolquesSinemblock'>TarifasRemolquesSinemblock:</label>
            <input id='TarifasRemolquesSinemblock' type='tel' class='form-control' placeholder='TarifasRemolquesSinemblock' value= {{ TarifasRemolquesSinemblock }}>

            <label class='label label-default' for='TarifasRemolquesBombonaAire'>TarifasRemolquesBombonaAire:</label>
            <input id='TarifasRemolquesBombonaAire' type='tel' class='form-control' placeholder='TarifasRemolquesBombonaAire' value= {{ TarifasRemolquesBombonaAire }}>


            <label class='label label-default' for='TarifasRemolquesCalderin'>TarifasRemolquesCalderin:</label>
            <input id='TarifasRemolquesCalderin' type='tel' class='form-control' placeholder='TarifasRemolquesCalderin' value= {{ TarifasRemolquesCalderin }}>

            <label class='label label-default' for='TarifasRemolquesPilares'>TarifasRemolquesPilares:</label>
            <input id='TarifasRemolquesPilares' type='tel' class='form-control' placeholder='TarifasRemolquesPilares' value= {{ TarifasRemolquesPilares }}>

            <label class='label label-default' for='TarifasRemolquesTabla'>TarifasRemolquesTabla:</label>
            <input id='TarifasRemolquesTabla' type='tel' class='form-control' placeholder='TarifasRemolquesTabla' value= {{ TarifasRemolquesTabla }}>

            <label class='label label-default' for='TarifasRemolquesRemaches'>TarifasRemolquesRemaches:</label>
            <input id='TarifasRemolquesRemaches' type='tel' class='form-control' placeholder='TarifasRemolquesRemaches' value= {{ TarifasRemolquesRemaches }}>

            <label class='label label-default' for='TarifasRemolquesLavados'>TarifasRemolquesLavados:</label>
            <input id='TarifasRemolquesLavados' type='tel' class='form-control' placeholder='TarifasRemolquesLavados' value= {{ TarifasRemolquesLavados }}>

            <label class='label label-default' for='TarifasRemolquesCarroceriaGeneral'>TarifasRemolquesCarroceriaGeneral:</label>
            <input id='TarifasRemolquesCarroceriaGeneral' type='tel' class='form-control' placeholder='TarifasRemolquesCarroceriaGeneral' value= {{ TarifasRemolquesCarroceriaGeneral }}>

            <label class='label label-default' for='GastoAcumulado'>GastoAcumulado:</label>
            <input id='GastoAcumulado' type='tel' class='form-control' placeholder='GastoAcumulado' value= {{ GastoAcumulado }}>


        </article>

        <button type='submit' class='btn btn-default'>Editar</button>
    </form>
</section>