<section id='divGeneral'>
      <form id='formFichaTractora' class='form'>
            <article class='form-group'>

                  <label class='label label-default' for='idTractora'>IdTractora:</label>
                  <input id='idTractora' type='text' class='form-control' placeholder='idTractora' value= {{IdTractora}} >
                  <label class='label label-default' for='matricula'>Matrícula:</label>
                  <input id='matricula' type='text' class='form-control' placeholder='matricula' value= {{Matricula}} >
                  <label class='label label-default' for='entidad'>Entidad:</label>
                  <input id='entidad' type='text' class='form-control' placeholder='entidad' value= {{FinanciacionEntidad}} >
                  <label class='label label-default' for='contrato'>Contrato:</label>
                  <input id='contrato' type='text' class='form-control' placeholder='contrato' value= {{FinanciacionContrato}} >
                  <label class='label label-default' for='fechainicio'>Fecha Inicio Contrato:</label>
                  <input id='fechainicio' type='date' class='form-control' placeholder='fechainicio' value= {{FinanciacionFechaInicio}} >
                  <label class='label label-default' for='fechafin'>Fecha Fin:</label>
                  <input id='fechafin' type='date' class='form-control' placeholder='fechafin' value= {{FinanciacionFechaFin}} >
                  <label class='label label-default' for='cuotamensual'>Cuota mensual:</label>
                  <input id='cuotamensual' type='text' class='form-control' placeholder='cuotamensual' value= {{FinanciacionCuotaMensual}} >
                  <label class='label label-default' for='cuotaresidual'>Cuota residual:</label>
                  <input id='cuotaresidual' type='text' class='form-control' placeholder='cuotaresidual' value= {{FinanciacionCutotaResidual}} >

            </article>

                  <button type='submit' class='btn btn-default'>Editar</button>
                  <button id='modificarTractoraBtn' class='btn btn-default'>Modificar datos</button>
                  <button id='mantenimientosTractoraBtn' data-id= {{IdTractora}} class='btn btn-default'>Mantenimientos</button>
      </form>
</section>