<section id='divGeneral'>
    <form id='formFichaTractora' class='form'>
        <article class='form-group'>

            <label class='label label-default' for='IdRemolque'>IdRemolque:</label>
            <input id='IdRemolque' type='text' readonly class='form-control' placeholder='IdRemolque' value= {{IdRemolque}}  >

            <label class='label label-default' for='matricula'>Matricula:</label>
            <input id='matricula' type='text' readonly class='form-control' placeholder='Matricula' value= {{Matricula}} >

            <label class='label label-default' for='Marca'>Marca:</label>
            <input id='Marca' type='text' readonly class='form-control' placeholder='Marca' value= {{Marca}} >

            <label class='label label-default' for='Modelo'>Modelo:</label>
            <input id='Modelo' type='text' readonly class='form-control' placeholder='Modelo' value= {{Modelo}} >

            <label class='label label-default' for='FechaMatriculacion'>Fecha Matriculación:</label>
            <input id='FechaMatriculacion' type='text' readonly class='form-control' placeholder='FechaMatriculacion' value= {{FechaMatriculacion}} >

            <label class='label label-default' for='itv1'>Itv1:</label>
            <input id='itv1' type='text' readonly class='form-control' placeholder='itv1' value= {{Itv1}} >

            <label class='label label-default' for='Itv2'>Itv2:</label>
            <input id='Itv2' type='text' readonly class='form-control' placeholder='Itv2' value= {{Itv2}} >

            <label class='label label-default' for='itv3'>Itv3:</label>
            <input id='itv3' type='text' readonly class='form-control' placeholder='itv3' value= {{Itv3}} >

            <label class='label label-default' for='Itv4'>Itv4:</label>
            <input id='Itv4' type='text' readonly class='form-control' placeholder='Itv4' value= {{Itv4}} >

        </article>

        <button type='submit' class='btn btn-default'>Editar</button></form></section>