<section id='divTabla' class='centradoListas'>
    <table id='listadoTractoras' class='table table-striped'>
    	<thead>
    		<tr>
    			<th>ID</th>
    			<th>Matricula</th>
    			<th>Marca</th>
    			<th>Acciones</th>
    		</tr>
    	</thead>
        <tbody>
        {{#each listado}}
		<tr>
			<td> {{IdTractora}} </td>
			<td> {{Matricula}}  </td>
            <td> {{Marca}}      </td>
            <td>
            	<button id='fichaBtn' data-idtractora= {{IdTractora}} class='btn btn-mini btn-ficha'>Ficha</button>
              	<button id='borrarBtn' data-idtractora= {{IdTractora}} class='btn btn-mini btn-danger btn-borrar'>Borrar</button>
            </td>
        </tr>
        {{/each}}

        </tbody>
	</table>
    <button id='nuevaTractoraBtn' class='btn btn-mini btn-nueva-tractora'>Añadir Tractora</button>
</section>