<section id='divGeneral' class='centradoListas'>
      <h1>Ficha Mantenimiento Tractora Otros</h1>
      <form id='formFichaMantenimiento' class='form' action=''>
            <article class='form-group'>
                  <label class='label label-default' for='id'>IdMantenimiento:</label>
                  <input id='id' type='number' readonly class='form-control' placeholder='id' required value= {{id}} >

                  <label class='label label-default' for='Tractora'>Tractora:</label>
                  <input id='Tractora' type='text' readonly class='form-control' placeholder='Tractora' required value= {{Tractora}} >

                  <label class='label label-default' for='Mantenimiento'>Mantenimiento:</label>
                  <input id='Mantenimiento' type='text' readonly class='form-control' placeholder='Mantenimiento' value= {{Mantenimiento }} >

                  <label class='label label-default' for='Taller'>Taller:</label>
                  <input id='Taller' type='text' readonly class='form-control' placeholder='Taller' value= {{Taller}} >

                  <label class='label label-default' for='Tipo'>Tipo:</label>
                  <input id='Tipo' type='text' readonly class='form-control' placeholder='Tipo' value= {{Tipo}} >

                  <label class='label label-default' for='FechaEntrega'>FechaEntrega:</label>
                  <input id='FechaEntrega' type='text' readonly class='form-control' placeholder='FechaEntrega' value= {{FechaEntrega}} >

                  <label class='label label-default' for='MotivoCambio'>MotivoCambio:</label>
                  <input id='MotivoCambio' type='date' readonly class='form-control' placeholder='MotivoCambio' value= {{MotivoCambio}} >

            </article>

            <!--<input type='submit' value='Enviar' class='btn btn-default'>-->
            <!--<button id='modificarTractoraBtn' class='btn btn-default'>Modificar datos</button>-->
            <button id='editarMantenimientoBtn' data-id= {{id}} class='btn btn-default'>Editar</button>
            <button id='volverListaBtn' class='btn btn-default'>Volver a la lista</button>
      </form>
</section>