<section id='divTabla' class='centradoListas'>
	<h1>Mantenimientos de Remolque con Id {{IdRemolque}} </h1>
    <table id='listadoMantenimientos' class='table table-striped'>
    	<thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Taller</th>
                <th>Remolque</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{#each listado}}
            <tr>
        		<td> {{IdMantenimiento}} </td>
                <td> {{Fecha}} </td>
                <td> {{Tipo}} </td>
        		<td> {{Taller}} </td>
                <td> {{IdRemolque}} </td>
        		<td> {{Importe}} </td>
        		<td>
        			<button data-id= {{IdMantenimiento}} data-tipo={{Tipo}} class='btn btn-mini btn-ficha'>Ficha</button>
              		<button class='btn btn-mini btn-danger'>Borrar</button>
              	</td>
             </tr>
        	{{/each}}
        	</tbody>
    </table>
    <button id='nuevoMantenimientoBtn' class='btn btn-mini btn-nuevo-mantenimiento'>Añadir Mantenimiento</button>
</section>