<section id = 'sectionFicha'>
	<h1>Ficha Remolque</h1>
	<ul id='menuremolque' class='nav nav-tabs'>
    	<li id ='datosgenerales'> <a data-editing= {{editing}} data-idpestana='0' data-idremolque= {{IdRemolque}} href='#'>Datos Generales</a></li>
        <li id='financiacion'><a  data-editing= {{editing}} data-idpestana='1' data-idremolque= {{IdRemolque}} href='#'>Financiación</a></li>
        <li id='mantenimientos-pestana'><a  data-editing= {{editing}} data-idpestana='2' data-idremolque= {{IdRemolque}} href='#'>Mantenimientos</a></li>
        <li id='seguros-pestana'><a  data-editing= {{editing}} data-idpestana='3' data-idremolque= {{IdRemolque}} href='#'>Seguros</a></li>
    </ul>
</section>