<section id = 'sectionFicha'>
	<ul id='menutractora' class='nav nav-tabs'>
    	<li id ='datosgenerales'> <a data-editing= {{editing}} data-idpestana='0' data-idtractora= {{IdTractora}} href='#'>Datos Generales</a></li>
        <li id='financiacion'><a  data-editing= {{editing}} data-idpestana='1' data-idtractora= {{IdTractora}} href='#'>Financiación</a></li>
        <li id='mantenimientos-pestana'><a  data-editing= {{editing}} data-idpestana='2' data-idtractora= {{IdTractora}} href='#'>Mantenimientos</a></li>
    </ul>
</section>