{{#each earthquakes}}
    <li class="anchor">{{date}}</li>
        {{#each earthquakes}}
            <li class="arrow    selectable  thumb   big"    data-id="{{_id}}">
                <span   class="magnitude">{{mag}}</span>
                    <div>
                        <strong>{{title}}</strong>
                        <small>{{formatTime time}}</small>
                    </div>
            </li>
        {{/each}}
{{/each}}
